Rust build artifacts

/target/
/Cargo.lock

Trunk build artifacts

/dist/
/.trunk/

Tooling & Cache

/node_modules/
.wasm-cache/

OS specific files

.DS_Store
Thumbs.db
**/*.rs.bk

Environment & Secrets

.env
.env.*